@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    padding: 5% 10%;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

ol {
    list-style-type: lower-alpha;
    padding: 0;
}

ul {
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: #00f;
    line-height: 1.6;
    /* list-style-image: url(../img/checkmark.png);

    list-style: square url(../img/checkmark.png) inside; */
}

ul li:nth-child(even) {
    color: red;
}

ul ::marker {
    color: red;
    font-family: cursive;
    font-size: 1em;
    content: "Only $5 >> ";
}