* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-size: 1.5rem;
    border: 10px double red;
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: -20px;
}

.circle {
    margin: 3rem auto;
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 2px solid #000;
    border-radius: 50px;
    outline: 2px solid red;
    outline-offset: 0.25rem;
}